/**************************/
/* HEADER SECTION */
/**************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.6rem;
  height: 9vh;
  width: 100%;
  transition: all 0.3s ease;
  position: relative;
  background-color: #102145;
}

.logo:link,
.logo:visited {
  display: inline-block;
  font-family: "Work Sans", sans-serif;
  font-size: 1.7rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}
.logo:hover,
.logo:active {
  color: #9faece;
}

.hero-nav {
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 1.7rem;
  font-family: "Work Sans", sans-serif;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: #9faece;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #fff;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/**************************/
/* HERO SECTION */
/**************************/
.hero-section {
  color: #fff;
  background-color: #102145;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 91vh;
}

.hero {
  max-width: 70rem;
}

.hero-icon {
  width: 4.1rem;
  height: 4.1rem;
  margin-bottom: 4.8rem;
}

.hero-description {
  font-size: 2.3rem;
  line-height: 1.6;
  font-weight: 400;
  margin-bottom: 4.8rem;
}

/**************************/
/* PROJECTS SECTION */
/**************************/

.projects-section {
  background-color: #fff;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.4rem;
  padding: 2.6rem;
}
.project-box {
  cursor: pointer;
  position: relative;
}

.project-img {
  width: 100%;
}

.project-box:hover .project-text--box {
  display: flex;
}

.project-text--box {
  position: absolute;
  inset: 0;
  background-color: rgb(16, 33, 69, 0.6);
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
  transition: all 0.3s ease-in;
}
.project-title {
  color: #fff;
  font-size: 2.8rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.project-text {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  opacity: 0.5;
}

/**************************/
/* BRANDS SECTION */
/**************************/

.brands-section {
  background-color: #a81e60;
  height: 60rem;

  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0 4rem; */
}

/**************************/
/* AGENCIES SECTION */
/**************************/

.agencies-section {
  background-color: #102145;
  height: 60rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/**************************/
/* PANEL SECTION */
/**************************/

.panel-section {
  background-color: #102145;
  height: 60rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.panel-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.2rem;

  font-family: "Work Sans", sans-serif;
}
.panel-img {
  width: 100%;
}
.panel-box {
}

.panel-title {
  font-size: 5.8rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.panel-subtitle {
  font-size: 2.3rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
  padding-left: 0.5rem;
}

.panel-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2.2rem;
}

.panel-btn:link,
.panel-btn:visited {
  font-family: "Work Sans", sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  text-decoration: none;
  color: #08b8ea;
  background-color: #253c6c;
  padding: 1.25rem 1.35rem;
  border-radius: 0.66rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 9.6rem;
  transition: all 0.3s;
}

.panel-btn:hover,
.panel-btn:active {
  background-color: #2a447b;
  /* background-color: #fff; */
}

/**************************/
/* FOOTER SECTION */
/**************************/

.footer-section {
  background-color: #0a1a3d;
  padding: 5rem 2.5rem;
}

.footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 8rem;
}
.footer-logo {
}

.copyright-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright-text {
  font-family: "Work Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.6;
  color: rgb(255, 255, 255, 0.3);
}

.social-icons--list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;

  list-style: none;
}

.social-icon:link,
.social-icon:visited {
  color: rgb(255, 255, 255, 0.3);
  background-color: #102145;
  font-size: 1.6rem;
  padding: 0.78rem 0.8rem;
  border-radius: 4px;
  transition: all 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon:hover,
.social-icon:active {
  color: #fff;
  background-color: #253c6c;
  font-size: 1.6rem;
  padding: 0.78rem 0.8rem;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
