/* ==================================================================================================================
   Reset for flex grid:; https://www.taniarascia.com/how-to-build-a-responsive-image-gallery-with-flexbox/
   ================================================================================================================== */

@import url("//hello.myfonts.net/count/32ee1d");

@font-face {font-family: 'DavisSans-Bold';src: url('webfonts/32EE1D_0_0.eot');src: url('webfonts/32EE1D_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/32EE1D_0_0.woff2') format('woff2'),url('webfonts/32EE1D_0_0.woff') format('woff'),url('webfonts/32EE1D_0_0.ttf') format('truetype'),url('webfonts/32EE1D_0_0.svg#wf') format('svg');}
@font-face {font-family: 'DavisSans-Light';src: url('webfonts/32EE1D_1_0.eot');src: url('webfonts/32EE1D_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/32EE1D_1_0.woff2') format('woff2'),url('webfonts/32EE1D_1_0.woff') format('woff'),url('webfonts/32EE1D_1_0.ttf') format('truetype'),url('webfonts/32EE1D_1_0.svg#wf') format('svg');}
@font-face {font-family: 'DavisSans-Medium';src: url('webfonts/32EE1D_2_0.eot');src: url('webfonts/32EE1D_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/32EE1D_2_0.woff2') format('woff2'),url('webfonts/32EE1D_2_0.woff') format('woff'),url('webfonts/32EE1D_2_0.ttf') format('truetype'),url('webfonts/32EE1D_2_0.svg#wf') format('svg');}
@font-face {font-family: 'DavisSans-Regular';src: url('webfonts/32EE1D_3_0.eot');src: url('webfonts/32EE1D_3_0.eot?#iefix') format('embedded-opentype'),url('webfonts/32EE1D_3_0.woff2') format('woff2'),url('webfonts/32EE1D_3_0.woff') format('woff'),url('webfonts/32EE1D_3_0.ttf') format('truetype'),url('webfonts/32EE1D_3_0.svg#wf') format('svg');}
 

.body { 
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}


a:link { text-decoration: none; }
a:visited {text-decoration: none; }


.intro-content a { color: #08b8ea; }
.intro-content a:visited { color: #08b8ea; }
.intro-content a:hover { color: #08b8ea; border-bottom-color: #08b8ea; }
.intro-content a:focus { color: #08b8ea; }
.intro-content a:hover, a:active { color: #1cd7ff; }

.story a { color: #08b8ea; }
.story a:visited { color: #08b8ea; } /*.story a:hover { color: #08b8ea; }*/
.story a:focus { color: #08b8ea; }
.story a:hover, a:active { color: #1cd7ff; }

.container a, .portfolio-container a, .minimal-portfolio-container a { color: #fff; }

.links a:hover { color: #767888; }
.brand-bar a:hover { color: #767888; }



/* ==================================================================================================================
    Base homepage intro styles
  ================================================================================================================== */


.intro-background, .about-background { 
  background-color: #102145;
  width:100%; 
  }


.intro-block {
    margin: 0 auto;
    max-width: 900px;
    clear: both;
    height: 600px;
  }

.intro-block p {
  margin: 0px;
  padding-bottom: 12px;

}

.name {
  font-size: 70px;
  line-height: 80px;
}

.icon  {
padding-bottom: 50px;
}

.footer-container {
  position: fixed;
  z-index: -1000;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #102145;
  height: 520px;
  display: block;
  padding-top: 1rem; 
}

.footer-text {
  font-size: 30px;
  line-height: 57px;
}

.footer-text a {
  padding-right: 20px;
}

.about-background {
  margin-top: 60px;
}


.intro-content {
  font-family: 'DavisSans-Regular', sans-serif;
  color: #fff;
  font-size: 25px;
  line-height: 34px;
  padding: 30px;
  padding-right: 4rem;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 250px;
}

 .intro-block {
  height: 525px;
}




/* ==================================================================================================================
    Large mobile homepage intro styles - from 376 to 768
  ================================================================================================================== */


@media screen and (min-width: 376px) {


.intro-content {
  font-family: 'DavisSans-Regular', sans-serif;
  color: #fff;
  font-size: 25px;
  line-height: 34px;
  padding: 30px;
  padding-right: 4rem;
  padding-top: 170px;
  padding-bottom: 100px;
  max-width: 600px;
}

 .intro-block {
  height: 470px;
}


}

/* ==================================================================================================================
    Tablet homepage intro styles - from 768 and above
  ================================================================================================================== */

@media screen and (min-width: 768px) {

.intro-content {
  font-size: 39px;
  line-height: 50px;
  text-align: left;
  padding-top: 198px;
  padding-left: 80px;
  max-width: 650px;
  }

  .intro-block {
  height: 600px;
  }

 

}


/* ==================================================================================================================
    Desktop homepage intro styles - from 1000 and above
  ================================================================================================================== */

@media screen and (min-width: 1000px) {

.intro-content {
  font-size: 52px;
  line-height: 68px;
  text-align: left;
  padding-top: 165px;
  padding-right: 0px;
  padding-left: 50px;
  max-width: 770px;
  }

 .intro-block {
  height: 720px;
  }



}



/* ==================================================================================================================
    Navigation - on blue
  ================================================================================================================== */



.menu-container {
  margin: 0 auto;
  height: 83px;
    background-color: #102145;
  position: fixed;
  width: 100%;
  top:0;
  z-index: 9999;
}



.brand-bar {
  margin: 0 auto;
  padding-top: 10px;
  padding-left: 30px;
  float: left;
}


.brand-text-link {
  font-family: 'DavisSans-Medium', sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
}


.tagline {
  font-family: 'DavisSans-Light', sans-serif;
  padding-left: 5px;
}


.links-container { 
  height: 70px;
  max-width: 700px;
  padding-right: 35px;
  float: right;
}


.links {
  font-family: 'DavisSans-Light', sans-serif;
  font-size: 16px;
  padding-top: 34px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}


.links a {
  display: inline-block;
}

.link {
  padding-left: 30px;
  color: #fff;
}


.selected {
  color: #767888;
  margin-left: 30px;

}

.cell {
  position: relative;
  color: white;
  display: block; /*----Not certain I need this */
}

.cell img {
  display: block;
}


/* ==================================================================================================================
    Navigation - on white
  ================================================================================================================== */

.menu-container-white {
  margin: 0 auto;
  height: 83px;
background-color: #fff;  
  position: fixed;
  width: 100%;
  top:0;
  z-index: 9999;
}


.brand-text-link-dark {
  font-family: 'DavisSans-Medium', sans-serif;
  color: #000000;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
}

.link-dark {
    color: #b2b2b2;
    padding-left: 30px;
}

.selected-dim {
    color: #000000;
    margin-left: 30px;

}



/* ==================================================================================================================
  Image hover text
  ================================================================================================================== */

.imgDescription {
    display: none;
    text-align: center;
  	font-family: 'DavisSans-Medium', sans-serif;
    font-size: 28px;
}


.imgDescription p {
   margin: 0px 30px;
   line-height: 33px;
}

.cell:hover {
  cursor:pointer;
  color:#fff;
}




/* ==================================================================================================================
  Image hover text permanent on touch
  ================================================================================================================== */

@media screen and (min-width: 768px) {

  .cell:hover .imgDescription {
    position: absolute;
    top:0;
    left:0;
    display: flex;
    flex-direction: column;
    justify-content:center;
    background: rgb(34, 47, 73); /* Fall-back for browsers that don't support rgba */
    background: rgba(34, 47, 73, 0.85);  
    width:100%;
    height:100%;
    opacity:1;
  }

}


.viewLink {
  font-size: 16px;
  opacity: 0.5;
}





/* ==================================================================================================================
  Flex grid general settings
  ================================================================================================================== */

.container, .minimal-portfolio-container {
  margin: 0 auto;
  padding: 0.8rem 0.6rem 0.8rem 0.8rem;
  z-index: 9998;
  background-color: #fff;
  margin-bottom: 530px;
}

.minimal-portfolio-container {
  margin-bottom: 0px;

}

.grid {
    margin: 0 auto;
    z-index: 9998;
}


.cell {
  display: block;
  margin: 0.8rem;
  z-index: 9998;

}
    


/* ==================================================================================================================
  Flex grid mobile: 100% width images
  ================================================================================================================== */

.responsive-image {
  max-width: 100%; 
}



/* ==================================================================================================================
   Flex grid tablet grid sizing - from 600px to 1600px, change to 2-up
   ================================================================================================================== */

@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

  }
  .cell {
    width: calc(50% - 1.6rem);
  }
}


/* ==================================================================================================================
   Flex grid desktop grid sizing – from 1600px wide, change to 3-up
   ================================================================================================================== */

@media screen and (min-width: 1200px) {
  .cell {
     width: calc(33.3333% - 1.6rem);
  }
}

/* ==================================================================================================================
  CSS for the logo banner container 
   ================================================================================================================== */

        .logo-banner {
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: #333;
            padding: 20px;
            max-width: 1000px; /* Maximum width for desktop view */
            margin: 0 auto; /* Center the container horizontally on desktop */
        }

        /* CSS for individual logo items */
        .logo-item {
            max-width: 100px;
            margin: 0 20px;
        }

        /* CSS for logo images (optional) */
        .logo-image {
            max-width: 100%;
        }

        /* Media query for mobile and tablet views */
        @media (max-width: 768px) {
            .logo-banner {
                max-width: 100%; /* Full width for mobile and tablet */
                padding: 10px; /* Adjust padding for smaller screens */
                flex-direction: column; /* Stack logos vertically on smaller screens */
            }
            .logo-item {
                margin: 10px 0; /* Adjust spacing between logos for smaller screens */
            }
        }





/* ==================================================================================================================
    Gallery
  ================================================================================================================== */

.grey-image-container {
  background-color: #f5f6f7;
  margin-bottom: 88px;
}

.charcoal-image-container {
  background-color: #343741;
  margin-bottom: 88px; /*Pads out the space below as images set to minimal padding top*/
}

.blue-image-container {
  background-color: #284664;
}

.white-image-container {
  background-color: #fff;
}

/*.flush-image-container .smaller-image {
  padding-top: 0px;
  padding-bottom: 80px;
}*/

.charcoal-image-container .image-box-1100 {
  padding-top: 80px;
}

.grey-image-container .smaller-image { 
  padding-top: 80px;
}

.grey-image-container .image-box-1100 { 
  padding-top: 80px;
}

.white-image-container .smaller-image { 
  padding-top: 80px;
}

.blue-image-container .smaller-image { 
  padding-top: 80px;
}

.smaller-image {
  padding: 0px 20px 80px 20px; 
  margin: 0 auto;
  max-width: 1300px;
}


/*added*/ 
.image-box-1100 {
  padding: 0px 100px 80px 100px; 
  margin: 0 auto;
  max-width: 1100px;
}


.gallery-image {
  margin: 0 auto;
  max-width: 810px;
  padding-bottom: 100px;
  padding-top: 100px;
}


/*added*/ 
.image-box-1100 img {
  width: 100%;
}

.gallery-image img {
  width: 100%;
}

.smaller-image img {
  width: 100%;
}

.text-block, .mid-text {
  margin: 0 auto;
  max-width: 850px;
  font-family: 'DavisSans-Regular', sans-serif;
  padding: 0px 40px 110px 80px;
  font-weight: normal;
}


.mid-text {
  padding: 50px 40px 40px 80px;
}

.sub-heading {
  font-weight: normal;
}


.about-text-block {
  margin: 0 auto;
  max-width: 850px;
  font-family: 'DavisSans-Regular', sans-serif;
  padding: 170px 40px 20px 80px;
}

.caps-heading {
  font-family: 'DavisSans-Regular', sans-serif;  
  font-size: 16px;
  font-weight: normal;
  color: #7F8387;
  margin-top: 260px;
  margin-bottom: 55px;
  text-transform: uppercase;
  letter-spacing: .3px;
}

.gallery-heading {
  margin: 30px 0px 15px 0px;
  padding-bottom: 22px;
  color: #000;
  font-size: 46px;
  line-height: 48px;
  font-weight: normal;
}

.story {
  font-family: 'DavisSans-Light', sans-serif;  
  padding-bottom: 25px;
  max-width: 900px;
  color: #7F8387;
  font-size: 20px;
  line-height: 33px;
  letter-spacing: 0.2px;
}

.about-story {
  font-size: 18px;
  line-height: 32px;
  color: #7F8387;
}

.about-subhead {
	font-family: 'DavisSans-Regular', sans-serif;  
    font-size: 24px;
    padding-top: 40px;
    color: #000;
    font-weight: normal;
}

.more-work-heading {
  font-family: 'DavisSans-Regular', sans-serif;  
  color: #222f49;
  font-weight: normal;
  font-size: 42px;
  line-height: 2px;
  margin: 150px 0px 50px 0px;
  text-align: center;
}

.role {
  font-family: 'DavisSans-Medium', sans-serif;  
}


.text-link {
  font-family: 'DavisSans-Regular', sans-serif;  
  color: #000;
}




/* ==================================================================================================================
    Mobile layout edits
  ================================================================================================================== */


@media screen and (max-width: 768px) {

.caps-heading {
    font-size: 16px;
    padding-top: 60px;
    margin-bottom: 0px;
  }

.story {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: -100px;
  }

.gallery-heading {
    font-size: 28px;
    line-height: 37px;
    margin-top: 50px;
  }


.mid-text {
    margin: 90px 30px 60px 30px;
  }
  

.brand-bar {
  float: left;
  padding-top: 4px;
  padding-left: 30px;
  height: 40px;
  }

.links-container {
  padding-left: 0px;
padding-right: 10px;
  height: 65px; /* Just changed from 55*/
  max-width: 250px;
    /* background-color: #fff;*/
  float: right;
  }

 .menu-container, .menu-container-white {
     height: 90px
    } 

.links {
    padding-top: 11px;
  float: right;
  }

.brand-text-link {
  font-size: 16px;
  }

.link, .selected, .link-dark, .selected-dim {
    margin: 15px 15px 0px 0px;
    padding: 0px;
  }

.smaller-image {
   padding: 20px 12px;
}

.gallery-image {
  padding: 0px;
  margin: 0px;
}

.container, .minimal-portfolio-container  {
  padding: 0.15rem; /*This adds a border around images */
  margin-bottom: 200px;
}

.icon img {
  min-width: 20px;
  max-width: 26px;
}

.icon  {
  padding-bottom: 20px;
}


.text-block {
  padding: 0px 40px 110px 30px;
}

.text-block {
  padding: 0px 40px 110px 30px;
}

.about-text-block{
  padding: 110px 40px 110px 30px;
}

.about-background {
  height: 165px;
  padding: 0px;
  margin: 0px;
}

.mid-text { /*text in middle of a gallery mobile */
  padding: 0px 40px 80px 30px;
}

.sub-heading {
  font-size: 22px;
}

.more-work-heading {
  font-size: 30px;
}


.footer-container {
  height: 200px;
}

.footer-text {
  font-size: 18px;
  line-height: 35px;
}

.footer-container .intro-content {
  padding-top: 40px;
}

.smaller-image { /* was .flush-image-container .smaller-image */
  padding-top: 0px;
  padding-bottom: 40px;
}

/*added*/
.image-box-1100{
  padding-top: 0px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;  
}

.grey-image-container .smaller-image {
  padding-top: 40px;
}

.grey-image-container .image-box-1100 {
  padding-top: 40px;
}

.blue-image-container .smaller-image {
  padding-top: 40px;
}

.white-image-container .smaller-image {
  padding-top: 40px;
}


/*.white-image-container .smaller-image,
.grey-image-container .smaller-image,
.grey-image-container .image-box-1100,
.blue-image-container .smaller-image {
  padding: 40px 20px 40px 20px;
}*/

.charcoal-image-container .image-box-1100 {
  padding: 42px 20px 40px 20px;
}


.charcoal-image-container {
  margin-bottom: 40px;
}

.grey-image-container {
  margin-bottom: 40px;
}


.intro-content {
        padding-top: 140px;
    }    
    

}



@media screen and (max-width: 600px) {

.imgDescription p{
  padding-top: 8px;
}



}


/* ==================================================================================================================
    Tablet & below layout edits - from mobile to 768 only
  ================================================================================================================== */


@media screen and (max-width: 768px) {

    
.imgDescription {
  display: block;
  position: absolute;
  bottom: 0;
  font-size: 16px;
  background: rgb(34, 47, 73); /* Fall-back for browsers that don't support rgba */
  background: rgba(34, 47, 73, 0.65);  
  width: 100%;
  height: 45px;
  padding-top: 12px;
  color: #fff;

  }

.viewLink {
  display: none;
}

 .caps-heading {
    margin-top: 120px;
  }

.imgDescription p{
  line-height: 18px;

}

     
    
    
}

